<div id="frm">

    <h1><u>View Patient Details</u></h1>
    <br>
    <div>
        <div id="text">
            <label> <b>  Id: </b></label> {{employee.id}}
        </div>
        <div id="text">
            <label> <b> Patient Name: </b></label> {{employee.firstName}}
        </div>
        <div id="text">
            <label> <b> Doctor Name: </b></label> {{employee.lastName}}
        </div>
        <div id="text">
            <label> <b> emailId: </b></label> {{employee.emailId}}
        </div>
        <div id="text">
            <label> <b> Amount: </b></label> {{employee.salary}}
        </div>
    </div>
</div>
